@layer theme, base, antd, components, utilities;

@import "tailwindcss";

/* 全局背景与文字色 */
body {
  @apply bg-gray-50 text-gray-800;
}

/* 让根节点撑满视口 */
html, body, #root {
  height: 100%;
}

@keyframes progress {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}
.animate-progress {
  animation: progress 120s linear infinite;
}